<div class="mt-4 mb-4">
    <% @articles.each do |article| %>
      <div class="md-4">
        <h4><%= link_to article.title, article, class: "text-dark" %></h4>
        <p class="text-muted"><%= article.created_at.strftime("%B %d, %Y") %></p>
        <p><%= truncate(article.body, length: 100) %></p>
        <p><%= link_to "More detail", article, class: "text-dark" %></p>
      </div>
    <% end %>
  </div>
<%= link_to "New Posts", new_article_path, class: "btn btn-dark mb-4" %>